* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  cursor: url("./cursor.png"), auto !important;
}

html {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: yellow;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("./bg_stars.gif");
  position: relative;
}

.sparklez {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url("https://media.giphy.com/media/3o7aDcEbGEsFAwSL0Q/giphy.gif");
  background-repeat: repeat-x;
  height: 50px;
  background-size: 50px 50px;
  display: block;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

#rijk {
  animation: wiggle 0.4s infinite alternate steps(2);
  width: 40vw;
}

@keyframes wiggle {
  from {
    transform: rotate(-10deg);
    filter: drop-shadow(0px 0px 10px blue);
  }

  to {
    transform: rotate(10deg);
    filter: drop-shadow(0px 0px 10px yellow);
  }
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 10vw;
}

h1 span {
  display: inline-block;
  animation: bounce 1.5s infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scaleY(1);
    color: yellow;
  }

  10% {
    transform: translateY(0) scaleY(0.8);
  }

  20% {
    color: yellow;
  }

  40% {
    transform: translateY(-40px) scaleY(1.1);
  }

  60% {
    color: hotpink;
  }

  75% {
    color: yellow;
  }

  80% {
    transform: translateY(0) scaleY(0.8);
  }
}

@for $i from 1 through 13 {
  span:nth-child(#{$i}) {
    animation-delay: 50ms * $i;
  }
}

.gif {
  z-index: -1;

  &.laser {
    position: absolute;
    right: -10vw;
    top: 5vh;
    transform: rotate(15deg);
    width: 30vw;
  }

  &.nyan {
    position: absolute;
    right: 10vw;
    top: 45vh;
    transform: rotate(-5deg);
    width: 20vw;
  }

  &.inspace {
    position: absolute;
    left: 10vw;
    top: 20vh;
    transform: rotate(-5deg);
    width: 15vw;
  }

  &.spanish {
    position: absolute;
    left: 0;
    top: 85vh;
    transform: rotate(-5deg);
    width: 20vh;
  }

  &.clapping {
    position: absolute;
    right: 0;
    top: 75vh;
    height: 25vh;
  }
}

marquee:first-of-type {
  transform: rotate(-25deg);
}
